QWidget{

	 font-family: arial;
	 font-size: 10px;
}
QPushButton {
     border: 2px solid #67b3f5;
     border-radius: 6px;
     background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                       stop: 0 #0b82c0, stop: 1 #59bef2);
	color:#ffffff;
 }
 
  QPushButton:pressed {
     background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                       stop: 0 #dadbde, stop: 1 #f6f7fa);
	color:#59bef2;
 }
 
 QPushButton:default {
     border-color: navy; /* make the default button prominent */
 }

QProgressBar {
     border: 2px solid #67b3f5;
     border-radius: 5px;
 }

 QProgressBar::chunk {
     background-color: #05B8CC;
     width: 5px;
	 margin: 0.5px;
 }
 
  QTabWidget::pane { /* The tab widget frame */
     border-top: 0px solid white;
 }

 QTabWidget::tab-bar {
     left: 1px; /* move to the right by 5px */
 }

 /* Style the tab using the tab sub-control. Note that
     it reads QTabBar _not_ QTabWidget */
 QTabBar::tab {
     /*background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                 stop: 0 #E1E1E1, stop: 0.4 #DDDDDD,
                                 stop: 0.5 #D8D8D8, stop: 1.0 #D3D3D3);*/
     
     background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                 stop: 0 #fafafa, stop: 0.4 #f4f4f4,
                                 stop: 0.5 #e7e7e7, stop: 1.0 #fafafa);
								 
	 border: 2px solid #59bef2;
	 /*border-right: 2px solid #FFFFFF;
	 border-left: 2px solid #FFFFFF;*/
	 
	 margin:1px;
	 
	
     border-radius: 4px;
     /*border-top-right-radius: 4px;*/
	 
	 width: 34px;
	 height: 34px;
	 color: #9B9B9B;
	 padding-bottom: -3px;
 }
 
 QTabBar::tab:selected, QTabBar::tab:hover {
     background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                       stop: 0 #0b82c0, stop: 1 #59bef2);
     color: #FFFFFF;
 }

 QTabBar::tab:selected {
     border-color: #0b82c0;
 }
 QTabBar::tab:disabled {
     text-decoration: line-through;
 }

 QTabBar::tab:!selected {
     margin-top: 2px; /* make non-selected tabs look smaller */
 }

 QListView, QLineEdit{
	background-color:#fafafa;
	border: 2px groove gray;
	border-radius: 8px;
	padding: 2px 4px;

 }
 
 QMainWindow{
    background-image: url(:/images/images/bckground.png);
 }

 QMainWindow::separator:hover {
     background: red;
 }
 
 QTableWidget {
	background-image: url( :/images/images/tablebckground.png );
    selection-background-color: qlineargradient(x1: 0, y1: 0, x2: 0.95, y2: 0.95,
                                 stop: 0 #2b8ce3, stop: 1 #02d876);
								 color:#000000;
    background: transparent;
	border: 2px solid gray;
	border-radius: 6px;
	
 }
 
  QHeaderView::section {
     background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
								   stop: 0 #0b82c0, stop: 1 #59bef2);
     color: white;
     padding-left: 4px;
     border: 1px solid #e0e0e0;
 }
QPushButton#btnSendFiles
{
	width: 	100px;
	height: 25px;
	vertical-align: left;
}